{% extends "base.html" %} 

{% block title %}Update Password{% endblock %} 

{% block content %}
<!-- Page heading -->
<h2 class="display-4">Update Password</h2>
<hr />

<!-- Form for updating password -->
<form method="POST">
  <div class="form-group" style="width: 25%">
    <label for="updatePassword1">Enter new password:</label>
    <input
      type="password"
      name="updatePassword1"
      id="updatePassword1"
      min="8"
      max="16"
    />
  </div>

  <div class="form-group" style="width: 25%">
    <label for="updatePassword2">Confirm new password:</label>
    <input
      type="password"
      name="updatePassword2"
      id="updatePassword2"
      min="8"
      max="16"
    />
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
